body {
  font-family: 'Lora', serif;
  background-color: #EFE9F4;
  margin: 0;
  line-height: 1.6;

}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;

}

h2 {
  color: #A0A3A6;
  font-weight: normal;
  font-size: 30px;
}

.container {

  margin: 50px auto;
  width: 1000px;
}

a {
  text-decoration: none;
  color: #636370;
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1),
      rgba(233, 253, 240, 1));
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

a:hover {
  background-image: linear-gradient(to bottom, rgba(125,255,179, 1),
      rgba(125,255,179, 1));
}


.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  padding: 120px 0;
  background-size: cover;
  color: white;
}

.banner h1 {
  font-size: 38px;
}

p {
  font-size: 1.2em;
}

.banner p {
  font-size: 30px;
  opacity: 0.8;
  font-weight: lighter;
}


@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 400px;
  }
}
